* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: sans-serif;
     line-height: 1.4;
}

.content {
     background-color: dodgerblue;
     width: 100%;
     height: 100vh;
     color: white;
     position: relative;
     text-align: center;
}

.text {
     font-size: 18px;
     position: relative;
     top: 50%;
}
