* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: sans-serif;
     line-height: 1.4;
}


/* ----- Стилі для меню ----- */

header {
     background-color: lightskyblue;
     position: relative;
}

.container {
     width: 100%;
     margin: 0 auto;
     padding: 20px;
}

.hamburger {
     position: absolute;
     top: 7px;
     right: 7px;
     display: inline-block;
     width: 50px;
     height: 50px;
     cursor: pointer;
     background-color: darkblue;
     padding: 7px;
     z-index: 3;

     appearance: none;
     outline: none;
     border: none; 
}

.bar , .hamburger::after, .hamburger::before{
     content: '';
     display: block;
     width: 100%;
     height: 5px;
     background-color: white;
     margin: 6px 0px;
     transition: 0.4s;
}

.is-active::before {
     transform: rotate(-45deg) translate(-8px, 6px);
}
.is-active .bar {
     opacity: 0;
}

.is-active::after {
     transform: rotate(45deg) translate(-9px, -8px);
}

.mobile-nav {
     display: none;
}

.mobile-nav.is-active {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     min-height: 100vh;
     height: auto;
     display: block;
     z-index: 1;
     background-color: dodgerblue;
     padding-top: 250px;
     transition: 0.4s;
}

.mobile-nav a {
     display: block;
     text-align: center;
     text-decoration: none;
     color: white;
     background-color: blue;
     width: 100px;
     padding: 5px;
     margin: 5px auto;
}



@media (min-width: 767px) {
     .mobile-nav {
          display: none;
     }

     .hamburger {
          display: none;
     }
}



/* ----- Стилі для центральної частини ----- */

.content {
     background-color: rgb(228, 245, 255);
     width: 100%;
     height: 100vh;
     color: blue;
     position: relative;
     text-align: center;
}

.text {
     font-size: 18px;
     position: relative;
     top: 50%;
}
