* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: sans-serif;
     line-height: 1.4;
}

/* ----- Стилі для меню ----- */

.menu-wrap {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
}

.toggler {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 3;
     cursor: pointer;
     width: 50px;
     height: 50px;
     opacity: 0;
}

.hamburger {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2;
     width: 60px;
     height: 60px;
     padding: 15px;
     background-color: rgb(227, 240, 255);
     display: flex;
     align-items: center;
     justify-content: center;
}

/* Лінії меню */

.hamburger > div {
     position: relative;
     width: 100%;
     height: 2px;
     background-color: blue;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.4s ease;
}

/* Стилі для верхньої та нижньої лінії */
.hamburger > div::before,
.hamburger > div::after {
     content: '';
     position: absolute;
     z-index: 1;
     top: -10px;
     width: 100%;
     height: 2px;
     background: inherit;
}

.hamburger > div::after {
     top: 10px;
}


/* Анімація натиску на меню */
.toggler:checked + .hamburger > div {
     transform: rotate(135deg);
}

.toggler:checked + .hamburger > div::before,
.toggler:checked + .hamburger > div::after {
     top: 0;
     transform: rotate(90deg);
}


/* Провернути меню, коли стрілочка на ньому */
.toggler:checked:hover + .hamburger > div {
     transform: rotate(225deg);
}

/* Показати меню */
.toggler:checked ~ .menu {
     visibility: visible;
}

.toggler:checked ~ .menu > div{
     transform: scale(1);
     transition-duration: 0.7s ;
}

.toggler:checked ~ .menu > div > div{
     opacity: 1;
     transition: opacity 0.4s ease;
}


/* Налаштування самої сторінки меню */
.menu {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1;
     width: 100%;
     height: 100%;
     visibility: hidden;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
}

.menu > div {
     background-color: white;
     border-radius: 50%;
     width: 200vw;
     height: 200vw;
     display: flex;
     flex: none;
     align-items: center;
     justify-content: center;
     transform: scale(0);
     transition: all 0.4s ease;
}

.menu > div > div {
     text-align: center;
     max-width: 90vw;
     max-height: 100vh;
     opacity: 0;
     transition: opacity 0.4s ease;
     padding-right: 50px;
}

.menu > div > div > ul > li {
     list-style: none;
     font-size: 35px;
     padding: 10px;
     text-align: left;
}

.menu > div > div > ul > li > a {
     color: dodgerblue;
     text-decoration: none;
     transition: color 0.4s ease;
}


















/* ----- Стилі для центральної частини ----- */

.content {
     background-color: dodgerblue;
     width: 100%;
     height: 100vh;
     color: white;
     position: relative;
     text-align: center;
}

.text {
     font-size: 18px;
     position: relative;
     top: 50%;
}
